* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
  box-sizing: 0;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", helvetica;
  color: #ffffffff;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: rgb(27, 27, 27);
}

section {
  width: calc(100% - 40px);
  margin: 20px;
  border-radius: 10px;
}

.info,
form {
  font-size: 20px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  padding: 20px;
  background-color: white;
  color: #fff;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: rgb(27, 27, 27);
}

.top-label {
  display: inline-block;
  margin-top: 10px;
}

.button-1 {
  background-color: white;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: background-color;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

table {
  width: 100%;
  height: 60%;
  border-collapse: collapse;
  border: none;
}

table thead tr {
  border: 1px solid;
}

table thead tr th {
  border: none;
}

th,
td {
  padding: 10px;
  text-align: center;
}

table tbody tr td {
  border: none;
  border-bottom: 1px solid #929292;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgb(36, 36, 36);
}

table tbody tr:last-of-type {
  border-bottom: 2px solid white;
}
