<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  <title>SkyCrawler Results </title>
</head>
<body>
  <main>

    <nav class="navbar">
      <div class="logo">S K Y C R A W L E R</div>
    </nav>

    <section class="info">
      <label for="satelliteDropdown">Satellite:</label>

<form method="POST" autocomplete="off">
  <select name="satelliteDropdown" id="satelliteDropdown">
    <option value="ISS">--Choose a satellite--</option> 
    <option value="ISS">ISS</option>
    <option value="Tiangong">Tiangong</option>
    <option value="X-37B">X-37B</option>
    <option value="N. Korean satellite">N. Korean satellite</option>
    <option value="Hubble Space Telescope">Hubble Space Telescope</option>
    <option value="Envisat">Envisat</option>
  </select><br>
  <label for="latitude" class="top-label">Latitude:</label><br>
  <input type="text" id="latitude" name="latitude">
  <label for="latitude">&#176;</label><br>

  <label for="longitude" class="top-label">Longitude:</label><br>
  <input type="text" id="longitude" name="longitude">
  <label for="longitude">&#176;</label><br>
  
  <input type="submit" class = "button-1" value="Use current location" onclick="geolocate(); return false;"/><br>
  <input type="submit" class = "button-1" value="Update"/>
  </form>
    </section>

    <section class="resultsTable">
      {{data | safe}}
    </section>

  </main>
  <script type="text/javascript">
    function geolocate(){
            if (!navigator.geolocation) {
                console.log('Geolocation is not supported by your browser');
            } else {
                navigator.geolocation.getCurrentPosition(geoLocateSuccess);
            }
    }
    function geoLocateSuccess(pos) {
            const lat = pos.coords.latitude.toFixed(4);
            const long = pos.coords.longitude.toFixed(4);
            document.getElementById("latitude").value = lat;
            document.getElementById("longitude").value = long;
         }
  </script>
</body>
</html>