<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css";>
  <title>SkyCrawler Results </title>
</head>
<body>
  <main>

    <nav class="navbar">
      <div class="logo">SkyCrawler</div>
    </nav>

    <section class="info">
      <label for="satelliteDropdown">Satellite:</label>
<select name="satelliteDropdown" id="satelliteDropdown">
  <option value="iss">ISS</option>
</select>
<form method="POST">
  <label for="latitude">Latitude:</label>
  <input type="text" id="latitude" name="latitude">
  <label for="latitude"> degrees</label><br>
  <label for="longitude">Longitude:</label>
  <input type="text" id="longitude" name="longitude">
  <label for="latitude"> degrees</label><br>
  <input type="submit" value="Update" onclick="updateTable();"/>
  </form>
    </section>

    <section class="resultsTable">
      {{data | safe}}
    </section>

  </main>
  <script type="text/javascript">
    function updateTable(){
      //do something
    }
  </script>
</body>
</html>